/* Original Start */

/* .logo {
  width: 125px;
  height: 142px;
} */

/* Original End */

.logo {
  position: absolute;
  top: 0;
  left: -15px;
  height: 60px;
  width: 60px;
}

/* @media screen and (min-width: 500px) {
  .logo {
    height: 70px;
    width: 70px;
  }
} */
