/* Original start */

/* .nav {
  margin: 0;
  padding: 30px 80px 0 30px;
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  color: #000;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link:hover {
  color: #2f80ed;
} */

/* Original end */

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: relative;
  height: 60px;
}

.nav__links {
  display: flex;
  list-style: none;
  gap: 0.8rem;
}

.nav__link {
  text-decoration: none;
  color: #000;
  text-wrap: nowrap;
  font-size: 0.8rem;
}

.nav__link:hover {
  color: #2f80ed;
}

/* @media screen and (min-width: 500px) {
  .nav__link {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .nav__links {
    gap: 1rem;
    margin-right: 2.5rem;
  }

  .nav__link {
    font-size: 1.3rem;
  }
} */

@media screen and (min-width: 600px) {
  .nav {
    height: 126px;
  }

  .nav__links {
    gap: 2rem;
  }

  .nav__link {
    font-size: 1.2rem;
  }
}
