.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

}

.recipes__title {
  margin: 100px 0 0 80px;
  padding: 0;
  max-width: 580px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 24px 0 0 80px;
  padding: 0;
  max-width: 438px;
  font-family: 'Noto Serif', 'Times New Roman', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  margin: 80px auto 215px;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}

.recipes__iframe {
 margin: 0 0 24px 0;
 padding: 0;
 border: none;
 height: 273px;
 width: 480px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
